* {
  color: rgb(74, 111, 161);
}

.card {
  width: 450px;
  margin: 20px auto;
  border-radius: 20px;

  &__title {
    font-weight: 600;
    font-size: 18px;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &_left {
      display: flex;
      align-items: center;
    }

    &_img {
      max-width: 60px;
      height: 60px;
    }

    &_temp{
      font-size: 52px;
    }

    &_details {
      display: flex;
      flex-direction: column;

      &_item {
        display: flex;
        align-items: center;
        margin-top: 10px;
        fill: rgb(74, 111, 161);;
      }
      &_item span {
        margin-left: 10px;
      }
    }
    
    &_descr {
      display: block;
    }
  }
}
